/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"] {
    max-width: 300px;
}

table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: top; /* Ensures content aligns to the top of the cell */
}

th {
    background-color: #007bff;
    color: white;
}

#source-moving-head, #destination-moving-head {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding does not affect width */
}

#source-channels, #destination-channels {
    margin-top: 10px;
}

#edit-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
}

#edit-button:hover {
    background-color: #0056b3;
}
